.content {
    position: relative;
    z-index: 1;
    background-image: url(imagens/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    z-index: -1;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
    padding: 2px;
}

nav {
    position: absolute;
    bottom: 10px;
    left: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li a {
    padding: 10px 15px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: whitesmoke;
    background-color: rgba(182, 10, 235, 0.363);
    border-radius: 5px;
}

.header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.header p {
    position: absolute;
    top: 20px;
    left: 50PX;
    color: antiquewhite;
    text-decoration: none;
    font-size: 50PX;
    font-weight: bolder;
}

.image {
    width: 25%;
    height: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 15px;
    margin-bottom: 5px;
    }

figcaption {
    margin-top: 0;
    font-style: italic;
}

.footer {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.footer img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: bottom;
}

.footer address {
    position: absolute;
    bottom: -75px;
    left: 10px;
    color: antiquewhite;
}

.footer p {
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: antiquewhite;
}

.footer p a {
    text-decoration: none;
    color: inherit;
}

.footer p a:hover {
    text-decoration: underline;
}

.footer-icons {
    position: absolute;
    bottom: 15px;
    right: 30px;
    display: flex;
    gap: 10px;
}

.footer-icons img {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding: 5px;
}

button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #3F1078;
    color: antiquewhite;
    border: 1px solid black;
    border-radius: 1px;
    margin: 5px;
}

blockquote {
    font-style: italic;    
}

.quote-author {
    font-style: normal;
    font-weight: bold;
}